# Dependencies
node_modules/
build/

# Coverage
coverage/
coverage.json
.coverage_contracts/
.coverage_artifacts/

# Environment files
.env
.secret
.infuraKey

# Gas reporter
gasReporterOutput.json

# Certora
specs/.certora_config
specs/.last_confs
specs/.certora_build.json
specs/.certora_verify
.last_confs/
.certora_verify.json
.certora_config/
.certora_build.json

# Notes directory
notes/

# Foundry
cache/
broadcast/

# Python venv
venv/
